*{margin:0;
padding:0;}
#box {
  height: 244px;
  width: 244px;
  background:#89c9e5;
  margin:20px;
  padding:10px;
  /border:1px solid #000;
}

.inner {
  float:left;
  height: 100px;
  width: 100px;
  margin:10px;
  border:1px solid #000;
  /padding:10px;
  background:#2fac66
}
